html {
    margin-top: 0;
}

h1 {
  font-size: 40px;
  margin: .5rem;
}

h4 {
  color: red;
  margin: 0;
}

p {
  font-size: 1.5rem;
  margin: .5rem;
}

.container {
  text-align: center;
  width: 80%;
}

.btn {
  background: conic-gradient(from 45deg, red, orange, yellow, green, blue, purple);
  color: azure;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
}